<div class="container">
  <div class="row">
    <h1 class="text-center">Finding Falcon</h1>
  </div>
  <div class="row">
    <h4>Select Planets you want to search in:</h4>
    <div *ngIf="timeTakenToReach">Time to reach Planet is {{timeTakenToReach}}</div>
  </div>
  <div class="row justify-content-center">
    <div class="form-group col-md-3" *ngFor="let dest of destinationList; let i=index">
      <label for="">{{dest.name}}</label>
      <select class="form-control" [name]="'dest1'+i" [(ngModel)]="dest.selectedPlanet" (focus)="onFocus(dest.selectedPlanet,i)" (change)="getSelectedPlanet(dest.selectedPlanet,i)">
        <option *ngFor="let item of dest.planets;let j=index" [value]="item.name">{{item.name}}</option>
      </select>
      <div class="col-md-9" *ngIf="dest.selectedPlanet">
        <p>{{dest.selectedVehicle}}</p>
          <div class="radio" *ngFor="let vehicle of dest.vehicles">
            <label class="mb-0 pull-left mr-3" [ngClass]="{'disable':!vehicle?.total_no}">
              <input type="radio"  [name]="'optradio'+i" [(ngModel)]="dest.selectedVehicle" (change)="getSelectedVehicle(vehicle, dest.selectedPlanet,i)" [value]="vehicle.name">{{vehicle.name}}({{vehicle.total_no}})</label>
          </div>
        </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="btn btn-info" (click)="findFolcon()">Find</div>
  </div>
</div>